<ion-content>


    <!-- <ion-avatar id="avatar">
      <img src="../../assets/img/hombre.png" alt="">
    </ion-avatar> -->
    <div class="container-form">
      <div class="content-form">
    <div class="titulo">
    <strong>LOGIN</strong>
  </div>

  <div class="classInput">
    <ion-label>Digite el nombre:</ion-label>
    <ion-item>
      
      <ion-input [(ngModel)]="myName" (ionFocus)="onInputFocus()" id="myinput">

      </ion-input>
    </ion-item>
  </div>
  <div class="boton">
    <ion-button (click)="enviar()" id="button">Sumit</ion-button>
  </div>
  </div>
  </div>



</ion-content>