
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


ion-content {
    --background: url(..//..//assets/img/wave-haikei.svg);
}

ion-toolbar {
    --background: #456286;
    color: white;
  }

#title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#card {
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.666);
}

img {
    margin-top: 20px;
    object-fit: cover;
}

.ion-padding {
    color: black;
}

#content {
    padding: 0;
}

.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-content img {
    width: 60px;
    margin-left: 25px;
}

#insertar {
    display: flex;
    justify-content: center;
}


