
<ion-header>
  <ion-toolbar>
    Back
   <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title-content">
  <h3 id="title">Bienvenido <strong>{{myName}}</strong> </h3>
  </div>

  <ion-card id="card" *ngFor="let myDatos of datos; let i = index">
    <ion-card-content id="content">
      <ion-accordion-group>
        <ion-accordion value="firts">
          <ion-item class="headerAco" slot="header">
            <ion-label><strong>{{myDatos.datDeporte}}</strong></ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div *ngIf="myDatos.datEdad >= 18; else menor">
            <ion-label><strong>Nombre:</strong> {{myDatos.datNombre}} {{myDatos.datApellido}} <br><strong>Edad: </strong>{{myDatos.datEdad}} <br><strong>Deporte: </strong>{{myDatos.datDeporte}}</ion-label>
            <img (click)="interface(i)" src="{{myDatos.datImagen}}" alt="">
            </div>
          </div>
          <ng-template #menor>
            <h3><strong>No se puede mostrar informacion (Menor de edad)</strong></h3>
          </ng-template>
        </ion-accordion>
      </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="insert()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
