
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


ion-content {
    --background: url(..//..//assets/img/wave-haikei1.svg);
}

#name {
    color: #001220;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

ion-toolbar {
    --background: #000736;
    color: white;
  }

#title {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

#card {
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.666);
}

img {
    object-fit: cover;
}

ion-button[slot="fixed"] {
    position: fixed;
    bottom: 16px; /* Ajusta la distancia desde la parte inferior según tus necesidades */
    left: 16px; /* Ajusta la distancia desde la parte izquierda según tus necesidades */
    --background: #001220;
  }

  ion-button:hover {
    --background: #35465a;
  }
  

.ion-padding {
    color: black;
}

#content {
    padding: 0;
}

.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-content img {
    width: 60px;
    margin-left: 25px;
}

#insertar {
    display: flex;
    justify-content: center;
}



